In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Path: notebook.ipynb

In [6]:
df = pd.read_csv('data/ah.csv')
df.head()

,name,score,Energie,Vet,waarvan verzadigd,waarvan onverzadigd,Koolhydraten,waarvan suikers,Voedingsvezel,Eiwitten,Zout,Folaat,Vitamine C
0,AH Scharrel kipfilet,A,114.0,1.2,0.5,0.7,0.0,0.0,1.6,25.0,0.1,NaN,NaN
1,AH Rundergehakt,C,228.0,16.0,7.1,6.9,0.9,0.0,0.0,20.0,0.2,NaN,NaN
2,AH Nederlandse aardbeien,A,25.0,0.0,0.0,0.0,5.1,5.1,1.1,0.7,0.0,0.000065,0.06
3,De Zaanse Hoeve Pittig 45+ geraspt,E,420.0,32.0,22.0,8.5,2.0,0.0,0.0,31.0,2.1,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 4 non-null      object
 1   score                4 non-null      object
 2   Energie              4 non-null      float64
 3   Vet                  4 non-null      float64
 4   waarvan verzadigd    4 non-null      float64
 5   waarvan onverzadigd  4 non-null      float64
 6   Koolhydraten         4 non-null      float64
 7   waarvan suikers      4 non-null      float64
 8   Voedingsvezel        4 non-null      float64
 9   Eiwitten             4 non-null      float64
 10  Zout                 4 non-null      float64
 11  Folaat               1 non-null      float64
 12  Vitamine C           1 non-null      float64
dtypes: float64(11), object(2)
memory usage: 544.0+ bytes

In [8]:
df.describe()

,Energie,Vet,waarvan verzadigd,waarvan onverzadigd,Koolhydraten,waarvan suikers,Voedingsvezel,Eiwitten,Zout,Folaat,Vitamine C
count,4.000000,4.000000,4.00000,4.000000,4.000000,4.000,4.000000,4.000000,4.000000,1.000000,1.00
mean,196.750000,12.300000,7.40000,4.025000,2.000000,1.275,0.675000,19.175000,0.600000,0.000065,0.06
std,170.453073,15.014215,10.25703,4.303003,2.222611,2.550,0.805709,13.111922,1.003328,NaN,NaN
min,25.000000,0.000000,0.00000,0.000000,0.000000,0.000,0.000000,0.700000,0.000000,0.000065,0.06
25%,91.750000,0.900000,0.37500,0.525000,0.675000,0.000,0.000000,15.175000,0.075000,0.000065,0.06
50%,171.000000,8.600000,3.80000,3.800000,1.450000,0.000,0.550000,22.500000,0.150000,0.000065,0.06
75%,276.000000,20.000000,10.82500,7.300000,2.775000,1.275,1.225000,26.500000,0.675000,0.000065,0.06
max,420.000000,32.000000,22.00000,8.500000,5.100000,5.100,1.600000,31.000000,2.100000,0.000065,0.06